prod:
  driver_instance_pool_id: '1030-065252-clot87-pool-ahmidg2j'
  instance_pool_id: '1030-065326-rites76-pool-sgd1y0m3'
  policy_id: '0019215CFE1EED7D'
  notebook_path: '/Workspace/Shared/serving_gold_ingestion/dbx_validation_framework/notebooks/main'
  spn_id: 'ec83dd13-3541-4c43-8b20-5c6ad48ba176'
  timeout_seconds: 14400
  warning_threshold_seconds: 7200
  cluster_tags:
    sub_team: Home
    resource_Type: etl-jobs
  permissions:
      can_manage: group:dbx_jio_prod_operations_aadg
      can_view: group:dbx_oss_connectivity_DE_ro
  spark_conf:
      spark.driver.extraJavaOptions: "-Duser.timezone=Asia/Kolkata"
      spark.executor.extraJavaOptions: "-Duser.timezone=Asia/Kolkata"
  email_notification_list: utkarsh3.kumar@ril.com
  min_workers: 2
  max_workers: 5
  max_concurrent_runs: 1
  is_queue_enabled: false
  pause_schedule: true
  tags:
    developer_name: "Utkarsh3.Kumar"
    job_type: "home_incremental_migration"

jobs:
  - job_name: jb_vld_conn_create_tables
    email_notification_list: utkarsh3.kumar@ril.com
    notebook_path: '/Workspace/Shared/serving_gold_ingestion/dbx_validation_framework/notebooks/setup/01_create_tables'
    schedule: ""
  
  - job_name: jb_vld_conn_setup_framework
    email_notification_list: utkarsh3.kumar@ril.com
    notebook_path: '/Workspace/Shared/serving_gold_ingestion/dbx_validation_framework/notebooks/setup/02_setup_validation_mapping'
    schedule: ""

  - job_name: jb_vld_conn_home_silver_text_9am_daily_job
    email_notification_list: utkarsh3.kumar@ril.com
    notebook_path: '/Workspace/Shared/serving_gold_ingestion/dbx_validation_framework/notebooks/main'
    schedule: ""
    job_parameters:
      table_group: home_silver_text_9am_daily_job
      iteration_suffix: ""
      isFullValidation: "false" 

  - job_name: jb_vld_conn_home_silver_every_30min_job
    email_notification_list: utkarsh3.kumar@ril.com
    notebook_path: '/Workspace/Shared/serving_gold_ingestion/dbx_validation_framework/notebooks/main'
    schedule: ""
    job_parameters:
      table_group: home_silver_every_30min_job
      iteration_suffix: ""
      isFullValidation: "false" 

  - job_name: jb_vld_conn_home_silver_every_2hour30min_job
    email_notification_list: utkarsh3.kumar@ril.com
    notebook_path: '/Workspace/Shared/serving_gold_ingestion/dbx_validation_framework/notebooks/main'
    schedule: ""
    job_parameters:
      table_group: home_silver_every_2hour30min_job
      iteration_suffix: ""
      isFullValidation: "false" 
